/*Play Icon styles - 26/5/2015 */

.page-section-minor .blurb-wide > a
{ width: 31.5%; float: left; }
.page-section-minor img
{ width:100% }
.page-section-minor .play:after
{ background-size: 40%; }
.page-section-minor .db1-db2, .page-section-minor .db2-db3
{ margin-left:3%; }
@media only screen and (max-width: 768px) { 
.page-section-minor .blurb-wide > a
{ width: 100%; float: none; }
.page-section-minor img
{ width:100% }
.page-section-minor .play:after
{ margin-bottom:20px; }
.page-section-minor .db1-db2, .page-section-minor .db2-db3
{ margin-left:0%; }
}
.WebpartHeader.webpartheader img {
  width: initial!important;
}

/*End of Play Icon styles */


/*.article-body div[data-embed-type="Brightcove"] + p {
  padding-top: .85em;
}*/


Div#article-body table[style="width: 33px; border-collapse: collapse;"] {
  width: 100%!important;
}

/* added to decrease the Top article title size */

.item.top-story .d-all a {
  font-size: 39px !important;
}


/* For author profiles body margins */

article#header-person p {
  margin-bottom: 1em;
}



div#article-body p~div {
  
  margin-bottom: 1em;
}


.article-body-full p{
  margin-top: 0.8em;
}


#twitter-shows iframe {
height: 305px;
}

.full-feature-text .list, .full-feature-text .dark {

top: 63px;
}


.full-feature-text p {

padding-top: .5em;

}



@media only screen and (min-width:768px){

@-moz-document url-prefix() { 

.WeatherMainTable{
    
    border-collapse: collapse;
    z-index: 2147483647;
    position: relative;
    width: 100%;
    left: -104%;
    top: 6em;
    margin-bottom: 7em;
}
}


}




.boxout {
width: 260px!important;
}



.imagecontainer.item {
padding-top: 20px;
}

.imagecontainer .caption{
display: block;
color: #888;
font-size: 1.2rem;
margin-top: 5px;
margin-bottom: 20px;
line-height: 1.4em;
}

aside#links-person {
margin-left: 73.5%;
width: 24%;
padding-right: 1em;
padding-bottom: 1em;
word-wrap: break-word;
}


article#header-person h1.heading-story {
width: 94%;
}



#header-person .title-profile {
font-size: 14px;
font-size: 1.4rem;
padding-bottom: 0.5em;
margin-bottom: 1em;
border-bottom: 1px solid #ddd;
width: 94%;
}








#nav-form-search {
z-index: 10000;
}


#nav-site{
z-index:1001;
}


/*
:root #site-header-links article{
position:absolute\0;

}


:root p.HeaderP a{
position:absolute\0;
top:2em\0;
left:11em\0;
}


:root #site-header-links{
background-color:green\0;
}

*/




ul.list.MoreToTheStory li, ul.list.MoreToTheStoryInternal li{
list-style-image: url('/assets/images/DefaultListImage.gif');
margin-left: 1.5em;
}

.play.normal-top-story:after {
  bottom: 0px;  
}

.play.medium-top-story:after {
  bottom: 0px;  
}

.MoreToTheStoryInternal {
width: 310px!important;
margin-top: 0px!important;
padding: 10px;
}

.MoreToTheStoryInternal h2.heading-list {
margin-top: 0px;
font-size: 1.2rem;
}

.MoreToTheStoryInternal ul.list {
margin-left: 0px;
margin-top: -5px;
}



#site-header-links .quote img{
width: 140px;
}



/* ---------------Magazine -------------   */


.MagazineContainer {
	width: 100%;
}
.MobileStoresLinks {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}
.MobileStoresLinks a {
	float: right;
}
.MagazineBigThumb img {
	width: 100%;
}
.MobileStoresLinks {
	float: right;
	margin-top: 20px;
}
.LatestEditionTitle {
	font-weight: bold;
	float: left;
}
/*----Hiding bottom schedule images and tables from episodes pages */



Table a.internallink img {
	display: none;
}
p img[usemap="#Map"][border="0"] {
	display: none;
}
table[style*="background-color: #eeeeee;"][border="0"] {
	display: none;
}
table[style*="width: 250px; background-color: #8b8a6c;"][ border="0"][align="right"] img {
	width: 100px;
	float: left;
	margin-top: 20px;
}



table[style*="width: 33px"][bordercolor="white"][border="0"] {
	width: 250px!important;
	margin-left: 20px;
  }

/*----End of Hiding bottom schedule images and tables from episodes pages */







/*
li.PinnedFeed:before {
display: block;
width: 20px;
height: 20px;
background-color: red;
position: relative;
top: 10px;
float: right;
z-index: 30;
}



li.PinnedFeed {
background-color: black;
border-bottom: 15px solid rgb(246, 246, 246);
}
*/







.MoreOnTheStory ul {
	margin-left: 0px !important;
}
.MoreOnTheStory {
	background-color: #fff !important;
}
.MoreOnTheStory h2.heading-list {
	font-size: 1.2em;
	margin-top: -9px;
}
.MoreOnTheStory .in-article-item ul {
	margin-left: 20px;
	margin-top: 15px;
}
[class*=dark] a:hover, [class*=dark] h1 a:hover {
	color: #fa9000;
}
a.show-tv-schedule {
	float: right;
}
#main-content .page-section-full:last-child {
	margin-top: 10px;
}
div#CommentsBlock {
	padding-top: 10px;
}
.full-feature-text p {
	padding-bottom: .5em !important;
	opacity: .7 !important;
}
/*----Contact Us Page------*/

.ContactUsPage {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333333;
	font-size: 15px;
	line-height: 1.6;
}
/*----Search Results Page Stules------*/





.latest [class*=flag] {
	position: relative;
	left: -1.2em;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
*/
}
.l.Search-Title {
	margin-left: 159px;
	color: #333;
	font-size: 1.2em;
}
.l.Search-Title:hover {
	color: #000;
}
.Search-Snippit {
	color: rgb(116, 116, 116);
	margin-left: 150px;
}
img.Search-Image {
	float: left;
	margin-right: 10px;
	margin-top: -2.5em;
	width: 150px;
}
.Search-Date {
	margin-top: 1.2em !important;
	color: rgb(182, 182, 182);
	font-size: 1.2rem;
}
.orangetext {
	color: #fb9d04 !important;
	position: relative;
	/* top: -10px; */
	font-size: 1.2rem !important;
}
table.Search-Snippet-Box {
	width: 100%;
}
.Search-Section.orangeText {
	margin-top: 1.5em!important;
}
.indexText-Bold2.indexText-Font2.Search-Results-Box hr {
	color: rgb(202, 202, 202);
}
.Search-Snippit font[color="#fb9d04"] {
	color: rgb(74, 74, 74);
}
/*----Article Share Buttons------*/


.ArticleSocialMediaTopBar_Container {
	height: 30px;
}
.ArticleSocialMediaTopBar {
	vertical-align: top;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}
ul {
	margin: 0px;
}
.ArticleSocialMediaTopBar li {
	display: inline;
	list-style: none;
	cursor: pointer;
}
.ArticleSocialMediaTopBar li img {
	width: auto !important;
}
.Shares {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #6F6F6F;
	line-height: 30px;
	font-size: 14px;
	vertical-align: top;
	margin-right: 5px;
}
.SM_Icons {
	float: left;
	margin-left: 0px !important;
}
.SM_RightIcons {
	float: right;
	margin-right: 0px!important;
}
#site-header-links article p {
	font-size: 1.4rem !important;
}
#site-footer {
	padding-bottom: 1em;
}
#site-header-links .quote img {
	margin-right: 1em;
	margin-top: -7px;
}
h1.heading-story.TS_MainTitle {
	padding-top: .5em;
}
.list > li {
	line-height: 1.3em !important;
}
.showStrandName {
	font-size: 2rem;
	display: block;
	padding-bottom: 5px;
}
#site-logo {
	height: 90px !important;
}
[class="list"] {
	line-height: 1em;
}
#site-logo a {
	width: 225px;
	height: 77px;
}
.VideoLogo-png {
	padding-top: 4px !important;
}
.MagazineLogo-png {
	padding-top: 4px !important;
}
.oryx-rightmaincontent {
	float: right;
	width: 74%;
	display: inline-block;
}
.oryx-leftsidebar {
	float: left;
	width: 22.8%;
	display: inline-block;
}
.oryx-storycontent {
	float: left;
	width: 45.8%;
	display: inline-block;
}
.oryx-maincontent {
	float: left;
	width: 65.7%;
	display: inline-block;
}
.oryx-sidebar {
	float: right;
	width: 31.4%;
	display: inline-block;
}
.ignoreparentstyle, #article-body {
	width: 100% !Important;
	margin: 0px !Important;
}
.item img {
	max-width: 100%;
	width: 100%;
	vertical-align: bottom;
}
#site-header-links {
	height: 5em;
	background: linear-gradient(190deg, #fa9000, #fa9000 25%, #E28204 75%, #DD8007);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#fa9000), color-stop(0.25, #fa9000), color-stop(0.75, #E28204), to(#DD8007));
	background: -webkit-linear-gradient(190deg, #fa9000, #fa9000 25%, #E28204 75%, #DD8007);
}
/*#site-logo a
        {

       
		background-image:url('/mritems/images/site/AljazeeraLogo.gif') !Important;
        }*/

#site-logo a {
	background-image: url('/mritems/images/site/AljazeeraLogo.gif') !Important;
}
#page {
	width: 1200px;
	min-height: 800px;
	margin-left: 30px;
	margin-top: 10px;
}
.button-search {
	background-image: url('/mritems/images/site/search.png') !Important;
}
.icon-facebook, .icon-twitter, .icon-youtube, .icon-google {
	background-image: url('/mritems/images/site/social-sprite.png');
}
/* ----------------------------- Content Type styles -----------------------------*/ 
.cntype-2007108125046384970:before {
	content: "[In Pictures] ";
	color: #999;
}
.cntype-201172416000000001:before {
	content: "[Opinion] ";
	color: #999;
}
.cntype-140413114050579:before {
	content: "[Interactive] ";
	color: #999;
}
.cntype-20105239650308520:before {
	content: "[Blog] ";
	color: #999;
}
.cntype-200771816342556199 {
	background-color: transparent !important;
}
/* ----------------------------- End Content Type styles -----------------------------*/ 


.custom-styled-flag {
	font-weight: bold;
	letter-spacing: 0.4em;
}
#showing-on-now {
	text-transform: capitalize;
}
#showing-on-next {
	text-transform: capitalize;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: visible;
	margin-bottom: 15px;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
.AJCMSLiveBox {
	display: none;
}
.normalize-text {
	text-transform: none;
}
.nav-menu-width {
	width: 105%;
}
.LegacyNews .LegacyImg table {
	width: 300px !important;
	float: left;
	margin-right: 10px;
}
.LegacyNews .LegacyImg table td {
	text-align : left !important;
	font-weight: normal;
	line-height: 1;
}
.LegacyArticle .article-body {
	float: none;
}
.LegacyArticle .article-body p {
	max-width: none;
}
.WeatherSearchBox {
	background-color: #f6f6f6;
	width: 94%;
	height: 30px;
	border: 1px solid #e0e0e0;
	padding-right: 0.5em;
}
.WeatherSearchButton {
	width: 30px;
	height: 30px;
	top: -32px;
	position: relative;
	float: right;
	right: 3%;
	background-image: url('/mritems/images/site/search.png') !Important;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: #f6f6f6;
}

@media only screen and (max-width:767px) {
  
.LiveStreamTitle {
  padding-top: 30px !important;
}
  
.box > .page-section-full, .dark[class*=page-section], #main-content > .dark {
	width: 96%;
	position: relative;
	left: 0em;
	right: 1em;
}
.full-feature {
	min-height: 25em;
}
.page-section-full {
	width: 96% !important;
}
#site-header-links article p {
	width: 70% !important;
}
#site-header-links h1 {
	width: 70% !important;
}
article.full-feature.dark.page-section {
	width: 100%;
}
img.Search-Image {
	display: none;
}
.l.Search-Title {
	margin-left: 0px;
}
.Search-Snippit {
	margin-left: 0px;
}
#site-content {
	margin-top: 5em;
}
.LegacyNews .LegacyImg table {
	width: 100% !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 1;
}
#site-header {
	padding-left: 0em;
	padding-right: 0em;

}
.socialmediaicons {
	right: 3em !important;
}
#nav-mobile-menu {
	right: 1em;
}
.branded #show-header {
	padding: 1em 1em 1em;
}
#show-header #show-logo {
	width: 170px;
    position: relative;
	top: -3em;
}
#home-latest {
	padding-top: 2em !important;
}
.toggle, .mobile-anchor {
	margin-top: 2em !important;
}
.oryx-bg {
	margin-top: -5em !important;
}
.latest .toggle {
	margin-top: 0 !important;
}
}
.article-body p span {
	font-size: 1.6rem !important;
	color: #333 !important;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 //color:red !important;
}
.article-body p span strong span a span, .article-body p strong span a span {
	color: #2575bc !important;
	font-weight: normal !important;
}
.InternalLink {
}
.past-24-hour {
	float: right;
	margin-right: 10px;
	color: #fa9000 !important;
}
[class*=page-section] {
	margin-bottom: 1em;
}
[class*=blurb] {
	padding-bottom: 0.5em;
}
.item-bottom-space {
	padding-bottom: 1em;
}
.background-1 {
	background: #272A67;
	background-image: -webkit-radial-gradient(top, circle cover, #272A67 0%, #3E43A1 80%);
	background-image: -moz-radial-gradient(top, circle cover, #272A67 0%, #3E43A1 80%);
	background-image: -o-radial-gradient(top, circle cover, #272A67 0%, #3E43A1 80%);
	background-image: radial-gradient(top, circle cover, #272A67 0%, #3E43A1 80%);
}
.background-2 {
	background: #272A67;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(39,42,103,.4) 10%, rgba(62,67,161,0) 40%), -moz-linear-gradient(top, rgba(39,42,103,.25) 0%, rgba(62,67,161,.4) 100%), -moz-linear-gradient(-45deg, #272A67 0%, #3E43A1 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(39,42,103,.4) 10%, rgba(62,67,161,0) 40%), -webkit-linear-gradient(top, rgba(39,42,103,.25) 0%, rgba(62,67,161,.4) 100%), -webkit-linear-gradient(-45deg, #272A67 0%, #3E43A1 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(39,42,103,.4) 10%, rgba(62,67,161,0) 40%), -o-linear-gradient(top, rgba(39,42,103,.25) 0%, rgba(62,67,161,.4) 100%), -o-linear-gradient(-45deg, #272A67 0%, #3E43A1 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(39,42,103,.4) 10%, rgba(62,67,161,0) 40%), -ms-linear-gradient(top, rgba(39,42,103,.25) 0%, rgba(62,67,161,.4) 100%), -ms-linear-gradient(-45deg, #272A67 0%, #3E43A1 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(39,42,103,.4) 10%, rgba(62,67,161,0) 40%), linear-gradient(to bottom, rgba(39,42,103,.25) 0%, rgba(62,67,161,.4) 100%), linear-gradient(135deg, #272A67 0%, #3E43A1 100%);
}
.background-3 {
	background-image: linear-gradient(#272A67, #3E43A1);
	box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
.background-4 {
	background: rgb(39,42,103);
	background: -moz-radial-gradient(top left, ellipse cover, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 57%);
	background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%, rgba(39,42,103,1)), color-stop(57%, rgba(62,67,161,1)));
	background: -webkit-radial-gradient(top left, ellipse cover, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 57%);
	background: -o-radial-gradient(top left, ellipse cover, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 57%);
	background: -ms-radial-gradient(top left, ellipse cover, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 57%);
	background: radial-gradient(ellipse at top left, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 57%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272A67', endColorstr='#3E43A1', GradientType=1 );
}
.background-5 {
	background: rgb(39,42,103);
	background: -moz-linear-gradient(-45deg, rgba(39,42,103,0) 0%, rgba(62,67,161,1) 100%), -moz-linear-gradient(left, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(39,42,103,0) 0%, rgba(62,67,161,1) 100%), -webkit-linear-gradient(left, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(39,42,103,0) 0%, rgba(62,67,161,1) 100%), -o-linear-gradient(left, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(39,42,103,0) 0%, rgba(62,67,161,1) 100%), -ms-linear-gradient(left, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 100%);
	background: linear-gradient(135deg, rgba(39,42,103,0) 0%, rgba(62,67,161,1) 100%), linear-gradient(to right, rgba(39,42,103,1) 0%, rgba(62,67,161,1) 100%);
}
.background-6 {
	background-color: #48484a;
}
.remaining {
	font-size: 11px;
	padding-left: 5px;
	color: #fff !important;
}
.full-feature .heading-feature {
	background-color: rgba(0,0,0,0.4);
}
.callout-link-watchlive {
	/* background-color: #DD0202; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: .4;
}
.full-feature .heading-feature {
	border-left: none;
	padding-left: 0.4em;
}
[class*=heading-feature]:hover {
	background-color: rgba(0,0,0,0.3);
	color: #fff !important;
}
[class*=heading-feature] a:hover {
	/*background-color:rgba(0,0,0,0.3);*/
	color: #fff !important;
}
.border-top-none {
	border-top: none !important;
}
.spday {
	width: 150px;
	display: inline-block;
	float: left;
}
/*---------------Toogle Control--------------------*/ 





.ToggleControl {
	position: fixed;
	margin-top: 590px;
	margin-left: -14px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 187px;
	vertical-align: top;
	height: 25px;
}
.BetaWord {
	font-weight: bold;
	color: #7B7B7B;
	width: 50px;
	float: left;
	font-size: 20px;
	margin-left: 106px;
	margin-top: -3px;
}
.ToggleButton {
	color: #fff;
	text-decoration: none;
	background-color: grey;
	float: right;
	line-height: 3px;
  display:none;
}
.ToggleButton:hover {
	background-color: #E28204;
}
.ToggleButton a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}
.classicviewt {
	z-index: 1000;
	position: fixed;
	top: 9px;
	left: -43px;
  display:none!important;
}





@media only screen and (min-width:768px) and (max-width:1023px) {


  
aside#links-person {
margin-left: 71.5%;
width: 24%;
}


h1.heading-story {
width: 90%;
}


#header-person .title-profile {
width: 90%;
}
  
  
img.tb1.da2.NoFloat {
float: none!important;
margin-bottom: 1em;
}  
  
  
.TitleSummary {
position: relative;
left: -34%;
width: 100%!important;
}  
  
  
  
  .latest .heading-section {
position: relative;
top: -11px;
}
  

[class*=" tb2"], [class^=tb2] {
/*float: none!important;*/

}


  
.weather-widget {
top: 23px!important;
position: absolute!important;
width: 227px!important;
right: -31%!important;
}


.WeatherMasterHead {
float: right!important;
text-align: right!important;
}

.WeatherMasterHead img {
width: 20px!important;
height: 20px!important;
float: none!important;
margin-right: 5px!important;
position: relative!important;
top: 5px!important;
}
  
  
  
  
  
  .classicviewt {
	top: -26px;
	left: -35px;
}
[class*=" t2"], [class^=t2] {
	margin-left: 26%! important;
}
.WeatherSearchBox {
	background-color: #f6f6f6;
	width: 90%;
	height: 30px;
	border: 1px solid #e0e0e0;
	padding-right: 0.5em;
}
.WeatherSearchButton {
	width: 30px;
	height: 30px;
	top: -32px;
	position: relative;
	float: right;
	right: 6%;
	background-image: url('/mritems/images/site/search.png') !Important;
	background-repeat: no-repeat;
	background-position: center;
}
}
















@media only screen and (max-width:767px) {



  
aside#links-person {
margin-left: 0%;
width: 80%;
margin-bottom: 2em;
}  
  
  
#shows-catchup.page-section-full {
width: 100% !important; 
}  
  
  
  section.dark.oryx-custom-clear .wrapper {
width: 96%!important;
}



  
.MoreToTheStoryInternal {
position: relative;
left: 1em;

}
  
.MoreToTheStoryInternal.in-article-item {
width: 97% !important;
}

  
  
  
#nav-topics ul li:first-child {
background-color: #222222;
}  
  
  
  .active .caption {
	position: relative;
	padding-right: 1em;
}
.caption p {
	padding-right: 1em;
}
#site-header #nav-mobile-account a {
	visibility: hidden;
	margin-top: -18px;
}

img#btnPrint {
	display: none;
}
.article-body table {
	width: 98% !important;
}
.in-article-item {
	width: 98% !important;
}
.ToggleControl {
	display: block!important;
	margin-top: -20px!important;
	margin-left: -69px!important
	-ms-transform: rotate(0deg)!important;
	-webkit-transform: rotate(0deg)!important;
	transform: rotate(0deg)!important;
}
}

@media only screen and (max-width:1023px) {
.ToggleControl {
	
	margin-left: -53px;
}
}
 @media only screen and (max-width:400px) {

.ArticleSocialMediaTopBar {
  margin-bottom: 4em!important;
}

.SM_RightIcons {
 margin-top: 1em!important;
}
  
  img#ilink1 {
	display: none;
}
  
img#ilink2 {
display: none;
}  
  
  
  
}

























#home-latest {
	background-color: #656565;
	border: none;
}
.latest .bleed {
	background-color: transparent;
}
.latest ul {
	border: none;
}
.latest li article {
	border: none;/* border-bottom: 1px solid #444; */
}
.latest ul > li {
	border-top: 1px solid #444;
}
.latest img {
	border-bottom: #444;
}
.blockquotestyle {
	font-weight: bold;
	color: #333;
	font-size: 20px;
	font-weight: 200;
	float: right;
	width: 250px;
	margin: 10px;
	margin-left: 45px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5em;
}
.blockquotestyle P:last-child {
	border-top: 1px solid #ABABAB;
	padding-top: 20px;
	font-size: 12px;
	line-height: 1.5em;
}
.blockquotestyle::before {
	content: "“";
	color: #999;
	float: left;
	font-size: 500%;
	padding-right: 0.15em;
	margin-top: 20px;
	line-height: 10px;
}
.article-body p {
	max-width: 38em;
}
.blockquotestyle p:nth-last-child(2n+0)::after {
	content: "”"
}
.poll-container {
	margin-bottom: 1em;
}
.poll-container iframe {
	margin: auto;
}
#site-header-links .quote h1 {
	line-height: normal;
}
#site-header-links h1 {
	font-size: 1.6rem;
}
.first.quote img {
	height: 84px;
	max-height: 84px;
}
.article-about {
	padding-bottom: 2em;
	display: block;
	float: left;
	position: relative;
}
.article-about p {
	font-size: 1.6rem;
	margin-top: 0.8em;
	max-width: none;
}

.UpdatedBadge {
	background-color: #ff7e00;
	width: 41px;
	overflow: visible;
	font-family: arial;
	padding-left: 5px;
	padding-right: 13px;
	padding-top: 2px;
	font-size: .9em;
	color: #FFF;
	margin-top: 5px;
}
/*--------------------------------Follow us page----------------------------------------*/


table.FollowusTable tr {
	padding-bottom: 10px;
	height: 50px;
	vertical-align: top;
}
table.FollowusTable img {
	position: relative;
	top: 9px;
}
table.FollowusTable {
	position: relative;
	top: 1em;
	color: black;
	line-height: 10px;
	margin-bottom: 30px;
	float: left;
}
.sub-episodes {
	margin-bottom: 2em;
	border-bottom: 1px grey solid;
	overflow: auto;
}
span.oryx-big-epic-time {
	display: block;
}
.oryx-big-epic-time time {
	color: #888;
}
#podlogo {
	float: left;
	padding-right: 13px;
}
#podlogo img {
	width: 28px !important;
}
div#podrss a {
	margin-right: 20px;
}
div#poditunes a {
	margin-right: 20px;
}
#poditunes {
	padding-bottom: 7px;
}
.showmorebutton, .oryx-custom-clear {
	clear: both;
}
.ajaxloader {
	clear: both;
	background-color:transparent; 
}

.showmorebutton_loading
{	
    background: #FFFFFF url('/assets/images/loading_icon.gif') no-repeat !important;
	border:none;	
}
.showmorebutton_loading:hover
{
	border:none;
}
.showmorebutton_loading:active 
{ 
 border:none;
}
div.clickable {
	position: relative;
}
div.clickable a.firstitem {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	/* Makes sure the link   doesn't get underlined */ 
	z-index: 10;
	/* raises anchor tag above everything else in div */ 
	background-color: white;
	/*workaround to make clickable in IE */ 
	opacity: 0;
	/*workaround to make clickable in IE */ 
	filter: alpha(opacity=1);/*workaround to make clickable in IE */ 
}
.oryx-custom-z-index {
	z-index: 10;
	position: relative;
}
/*--------------------------------Print View Styles----------------------------------------*/ 
  
  
.PrintView .heading-section {
	display: none !important;
}
.PrintView .heading-story {
	font-size: 32px;
}
.PrintView .standfirst {
	font-size: 20px;
}
.PrintView div#Article-Top-Toolbar {
	display: none;
}
.PrintView figure.article-main-image {
	display: none;
}
.PrintView p.meta {
	margin-bottom: 54px;
	font-size: 14px;
}
.PrintView div#Article-Bottom-Toolbar {
	display: none;
}
.PrintView header#header-story::before {
	content: "www.aljazeera.com";
	font-size: 13px;
	width: 100%;
	display: block;
	border-bottom: 2px solid #DADADA;
	padding-bottom: 5px;
	text-align: right;
}
tdfinder {
	padding: 8px;
	text-align: center;
}
thfinder {
	padding: 8px;
}

.weather-widget {
display: block;
/* margin-left: 74.4%; */
position: absolute;
top: 2em;
width: 230px;
/* z-index: 1000; */
right: 0%;
/* float: right; */
}

.WeatherMasterHead {
height: 24px;
font-size: 11px;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #909090;
line-height: 24px;

float: right;
}
.WeatherMasterHead img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}



/*------------------------------ Begin More to this story Icon -----------------------*/
.mos-200771816342556199 {
	list-style-image: url('/assets/images/MOS_News.png')!important;
	margin-left: 1.5em;
}
.mos-Video {
	list-style-image: url('/assets/images/MOS_Video.png')!important;
	margin-left: 1.5em;
}
.mos-20105239650308520 {
	list-style-image: url('/assets/images/MOS_Blog.png')!important;
	margin-left: 1.5em;
}
.mos-140413114050579 {
	list-style-image: url('/assets/images/MOS_Infographic.png')!important;
	margin-left: 1.5em;
}
.mos-201172416000000001 {
	list-style-image: url('/assets/images/MOS_Opinion.png')!important;
	margin-left: 1.5em;
}
.mos-2007108125046384970 {
	list-style-image: url('/assets/images/MOS_Gallery.png')!important;
	margin-left: 1.5em;
}
.mos-140210103041740 {
	list-style-image: url('/assets/images/MOS_Episode.png')!important;
	margin-left: 1.5em;
}
.mos-140415133408172 {
	list-style-image: url('/assets/images/MOS_Feature.png')!important;
	margin-left: 1.5em;
}
/*------------------------------ End  More to this story Icon -----------------------*/


.home-ads-style {
	margin-left: -5%;
	margin-bottom: 1em;
}
#div-gpt-ad-809429194207278781-1 {
	text-align: center;
}

/*
#show-comments #twitter-widget-0 {
	height: 305px !important;
}
*/

.oryx-heading-profile a {
	font-weight: bold;
}

/*------------------------------ Sport page by line -----------------------*/

 .profile-blackBG em {
	color: #fff;
}
/*------------------------------ End Sport page by line -----------------------*/



#dvListen{
float:left;
}
.SM_RightIcons NextLine {
  width:173px;
}

.rsbtn_exp.rsimg.rspart{

margin-top: -63px;
margin-left: -64px;
top: 110px;
left: -53px;

}

#xp1 {

height: 0px;
}


.ArticleCorrection{ 
  width: 98%; 
  background-color: rgb(219, 219, 219); 
  padding: 10px; 
  margin-right: 2em; 
  margin-bottom: 1em; 
  font-size: 80%; 
  font-style: italic;
}
.ArticleCorrection span {
  font-style: normal!important;
  font-weight: bold;
}

p.BlogLabel {
  color: #ccc;
  font-size: 22px;
}

#div-gpt-ad-1430047331144-0 {

margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.WatchLiveBG {
  margin-bottom: -585px;
  height: 575px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: -14px;
  padding-top: 6px;
}

.WatchLiveBG div {
  margin-right: auto;
  margin-left: auto;
  margin-top: -21px;
}

.WatchLiveShareBar {
  width: 100%;
}

.image .caption {
  display: block;
  color: #888;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 1.4em;
}





/*start of: Search - KeyMatch Box*/

table.searchKeymatch td {
  padding: 10px;
}

table.searchKeymatch {
  margin-bottom: 20px;
  background-color: rgb(236, 236, 236);
}

table.searchKeymatch a {
  color: rgb(37, 117, 188);
  font-weight: bold;
  font-size: 16px;
}

table.searchKeymatch td {
  padding: 10px;
}





input#txtSimpleSearch {
  height: 29px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #f6f6f6;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding-right: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px #eee;
  box-shadow: inset 0 1px 1px #eee;
  height: 30px;
  height: 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 10px;
}

input#btSimpleSearch {
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  color: #2575BC;
  height: 30px!important;
  margin-top: 10px;
}
input#btSimpleSearch:hover {
background-color:#004593;
color:#fff;
}


div#dvAdvanced {
  padding: 10px;
  color: #333;
  margin-top: 10px;
}

div#gsaSearch {
  margin-top: -43px;
}

hr.Search-HR {
  color: #D3D3D3;
}

/*End of: Search - KeyMatch Box*/



/*Airing Times*/

tr.FirstEpisode{

background-color: #c88a47;
color: white;
} 



span.AiringTimesLegend:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c88a47;
  float: left;
  margin: 5px 5px 5px 0px;

}



span.AiringTimesLegend{
color:#c88a47;
}

.AljazeeraAwards ul {
  margin-left: 2em;
}

#main-story p {
  margin-bottom: 0.8em!important;
}
 

