@charset "utf-8";



.ArticleSocialMediaTopBar_Container{
	
	height:30px;
	}
	
.ArticleSocialMediaTopBar{
	vertical-align:top;
	width:100%;
	height:30px;
	}
	
ul{
	margin:0px;
	
	}	
	
.ArticleSocialMediaTopBar li{
	display:inline;
	list-style:none;
cursor: pointer; 
	}
	
.Shares{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#6F6F6F;
	line-height:30px;
	font-size:14px;
	vertical-align:top;
	margin-right:5px;
		}

.SharesGeneral{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#6F6F6F;
	padding-top:5px;
	font-size:14px;
	vertical-align:top;
	margin-right:5px;
    width: 100px;
float: left;
		}
		
.SM_Icons{
float:left;
margin-left:-40px;

	}
	
.SM_RightIcons{
	float:right;
	margin-right:-13px;
	}		


.gig-simpleShareUI-button :hover{
width: 119px;
margin: 0 5px 7px 0;
height: 16px;
cursor: pointer;
zoom: 1;
color:black;
}

.gig-simpleShareUI-buttonText :hover
{
    color:black !important;

}

.gig-simpleShareUI-button-inner :hover
{
    color:black;
}

.gig-simpleShareUI *, div.gig-simpleShareUI, span.gig-simpleShareUI, .gig-simpleShareUI span, .gig-simpleShareUI a:hover, .gig-simpleShareUI a:visited, .gig-simpleShareUI a:link, .gig-simpleShareUI a:active {
text-align: left;
font-family: arial;
background-color:  white !important;
font-weight: normal;
font-size: 11px;
border: none;
padding: 0px;
margin: 0px;
color: black;
text-decoration: none;
width: auto;
float: none;
-moz-border-radius: 0;
border-radius: 0;
line-height: normal;
}